
<% for (var i=0; i < this.length; i++) { %>
<tr>
        <td align="center"><%= this[i].fecha %></td>
        <td align="center"><%= this[i].remito %></td>
        <td align="center"><%= this[i].nro_transito %></td>
        <td align="center"><%= this[i].cliente %></td>
	<td align="center"><%= this[i].vol_despachado %></td>
        <td align="center"><%= this[i].chofer %></td>
	<td align="center"><%= this[i].patente_camion %></td>
	<td align="center"><%= this[i].patente_acoplado %></td>
	<td align="center"><%= this[i].transportista %></td>
        <td align="center"><%= this[i].dom_entrega %></td>
</tr>
<% }  %>